.simple-footer {
  padding: 3em 0.75em;
  clear: both;
  text-align: center;

  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.841em;
    color: $mediumText;

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
      flex-direction: row;
    }

    span {
      white-space: nowrap;

      &:not(:last-of-type):after {
        content: "";

        @media screen and (min-width: map-get($grid-breakpoints, "md")) {
          margin: 0 0.375em;
          content: "|";
        }
      }
    }
  }
}
