.collection-search {
	@extend .row;
	display: flex;
	flex-wrap: wrap;

	.collection-search__input-container {
		@extend .col-12;
		padding: 1.5em;

		input {
			width: 100%;
		}
	}
}

.collection-search__post {
	@extend .col-12;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	color: $black;

	&:hover {
		color: $black;
		text-decoration: none;
		opacity: 0.8;
	}
	@media screen and (min-width: map-get($grid-breakpoints, 'md')) {
		flex-direction: row;

		.collection-search__content-container {
			padding-right: 1.5em;
			@supports (order: 2) {
				order: 2;
				padding-left: 1.5em;
				padding-right: 0;
			}
		}

		.post-type-search__thumbnail-container {
			padding-left: 0.75em;
			@supports (order: 2) {
				padding-left: 0;
				padding-right: 0.75em;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.collection-search__content-container {
		@extend .col-md-7, .col-lg-8;
	}

	.post-type-search__thumbnail-container {
		@extend .col-md-5, .col-lg-4;
	}
}

.collection-search__nav {
	width: 100%;
	padding: 1.5em;
	font-size: 0.944em;
	display: flex;
	justify-content: space-between;

	div {
		display: inline-block;
		padding-right: 1.5em;

		&:last-of-type {
			padding-right: 0;
		}
	}
}
