.front-page-splash {
  display: flex;
  justify-content: center;
  transition: opacity 1s;
  height: 0;
  overflow-y: visible;
  max-width: 1600px;
  margin: 0 auto;
}

.front-page-splash__background {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  z-index: -1;
  transition: height .2s;
  width: 100%;
  max-width: 1600px;
  height: auto;
}

.front-page-splash__text {
  height: 600px;
  height: 50vw;
  min-height: 300px;
  padding-top: 1.5em;

  span {
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: .944;

    &:first-of-type {
      font-size: 15em;
      font-size: 17.5vw;
      font-weight: 900;
      letter-spacing: -.0625em;
      margin-left: -.075em;
    }

    &:nth-of-type(2) {
      font-size: 12.2em;
      font-size: 14vw;
      letter-spacing: -.01em;
    }

    &:last-of-type {
      font-size: 5.9em;
      font-size: 7.02vw;
    }
  }
}
