.front-page-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  width: 100%;
  position: absolute;
  top: 0;
}

.front-page-splash__background-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
}

.front-page-splash__background {
  width: 100%;
  height: auto;
  z-index: -1;
  transition: height .2s;
  min-width: 900px;
}

.front-page-splash__text {
  min-height: 400px;
  padding: 4em 1.5em 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.liaa-logo-container {
  width: 80%;
  padding: 3em;
  padding: 6em 5vw 1.5em;
  margin: 0 auto;

  svg {
    width: 100%;
    min-width: 200px;
    height: auto;
    color: white;
    margin: 0 auto;
    display: block;
  }
}
