.front-page-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  min-height: 300px;
  max-width: 1600px;
}

.front-page-gallery__images {
  position: absolute;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s;

    @media screen and(min-width: 1040px) {
      width: 100%;
      height: auto;
    }
  }

  .front-page-gallery__active-image {
    opacity: 1;
  }
}

.front-page-gallery__titles {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  width: 100%;
  min-height: 300px;
  margin: 8em auto 0;
  padding: 3em 1.5em;
  padding: 3vw;
  max-width: 900px;
  padding-bottom: 4.5em;
  padding-bottom: 4.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > span {
    color: white;
    font-size: 3em;
    font-size: 6vw;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 0 .0625em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-of-type {
      margin-right: auto;
      flex-grow: 0;
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 3em;
    }


    &.title-1, &.title-3 {
      opacity: .5;
    }

    &.title-2, &.title-4 {
      opacity: .8;
    }

    &.front-page-gallery__active-title {
      opacity: 1;
      font-weight: 900;
      letter-spacing: 0;
    }
  }

  .new-word:not(:first-of-type) {
    //margin-left: .75em;
  }
}

@for $i from 1 through 24 {
  .length-#{$i} {
    flex: #{$i};
  }
}
