#header-search {
	position: relative;
	input {
		position: absolute;
		top: -.2em;
		left: -.25em;
		background: transparent;
		border: 0;
		padding: .25em;
	}
}

.header-search-container > a {
	@media screen and (max-width: 767px) {
		font-size: 1.122em;
	}
}

.header-search-results {
	position: absolute;
	top: 2.5em;
	width: 300px;
	background: white;
	padding-top: 1.5em;
	padding-left: 0;
	border: 1px solid $gray-lighter;

	h3 {
		padding-left: 1.5rem;
	}

	@media screen and (max-width: 767px) {
		position: static;
		width: auto;
		padding: 0;
		padding-top: 2.25em;
		border: 0;
	}

	li {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		padding-bottom: .5em;
		display: block;
	}
}

.header-search-results__close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3em !important;
    top: .5rem;

    &:hover {
    	text-decoration: none;
    }
}

.header-search-results__prev-next {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		font-size: 2em !important;
		font-weight: bold;
		padding: 1.5rem;

		&:first-of-type {
			padding: 1.5rem;
		}

		&:hover, &:focus{
			text-decoration: none;
		}
	}
}

.header-search-results__loading {
	font-size: .891em;
}

.no-results {
	padding: 1.5rem;
}
