.media-kit-post {
  @extend .row;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $black;

  &:hover, &:focus {
    text-decoration: none;
    color: rgba($black, .9);
  }
}

.media-kit-post__thumbnail-container {
  @extend .col-12, .col-sm-4;
  float: left;
  padding-top: .75em;
  padding-bottom: .75em;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-right: .75em;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.media-kit-post__content-container {
  @extend .col-12, .col-sm-8;
  float: right;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-left: .75em;
  }
}

.media-kit-post__title {
  @extend .h2;
}

.media-kit-post__modal {
  padding: 1.5em;
}

.media-kit-post__modal-thumbnail-container {
  text-align: center;

  image {
    max-width: 100%;
    height: auto;
  }
}

.media-kit-post__modal-content-container {
  width: 100%;
  max-width: 768px;
  padding: 1.5em;
  margin: 0 auto;
}
