.media-kit-post {
  @extend .row;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-kit-post__thumbnail-container {
  @extend .col-12, .col-md-4;
  float: left;
  padding-top: .75em;
  padding-bottom: .75em;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-right: .75em;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.media-kit-post__content-container {
  @extend .col-12, .col-md-8;
  float: right;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-left: .75em;
  }
}
