.main--page-has-thumbnail {
	@media screen and (min-width: 767px) {
	  margin-top: -105px;
	}
}

.page-has-thumbnail {
  > * {
    max-width: 970px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

.page-has-thumbnail__thumbnail-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: none;

  img {
    width: 100%;
    height: auto;
    min-width: 950px;
  }
}

.page-has-thumbnail__header {
  position: relative;
  max-width: none;
  padding: 0;
  margin-bottom: 1.5em;
	overflow-x: hidden;
}

.page-has-thumbnail__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  font-size: 1.8rem;
  color: #fff;
  max-width: 970px;
  margin: 0 auto;
  font-family: "Open Sans",Helvetica,sans-serif;
  padding: 1.5rem;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 1.5rem 3rem;
  }
}

.page-has-thumbnail__footer {
  padding-top: .75em;
}

.page-has-thumbnail__footer-caption {
	border-top: 1px solid $gray-lighter;
}

.page-has-thumbnail__footer-caption, .page-has-thumbnail__footer-caption p {
  @extend .caption;
  padding-top: .75em;
}
