.page-no-thumbnail {
  > * {
    max-width: 970px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

	@media screen and (max-width: 767px) {
		padding-top: 3em;
	}
}

.page-no-thumbnail__header {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.page-no-thumbnail__title {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Open Sans",Helvetica,sans-serif;
}
