.post-gallery {
	margin-bottom: .75em;
	counter-reset: caption;
}

.post-gallery__images {
	display: flex;
}

.post-gallery__image-container {
	height: 100%;
}

.post-gallery__caption {
	@extend .caption;
	padding-right: 1.5em;

	&:before {
		content: counter(caption);
		counter-increment: caption;
		color: $black;
		margin-right: .375em;
	}
}
