.post-gallery {
	margin-bottom: .75em;
	counter-reset: caption;
}

.post-gallery__images {
	display: flex;
	margin: 0 auto;

	img {
		width: 100%;
		height: auto;
	}
}

.post-gallery__captions {
	padding-top: .25em;
}

.post-gallery__caption {
	@extend .caption;
	padding-right: 1.5em;

	&:before {
		content: counter(caption) ".";
		counter-increment: caption;
		margin-right: .375em;
	}
}
