.front-page-gallery__images img {
  left: 0;
}

.front-page-gallery__titles {
	display: block;
}

.front-page-gallery__titles span {
	flex: none !important;
	display: inline-block;
}

.front-page-splash {
	display: block;
}

.front-page-splash__text {
	display: block;
}
